body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FF846A , #FFD86A, #E8A666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF846A, #FFD86A, #E8A666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF846A, #FFD86A, #E8A666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF846A , #FFD86A, #E8A666); /* Standard syntax (must be last) */
        
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    position: fixed;
    bottom: 0;
}

.jumbotron{
    color:white;
    font:bold;
    letter-spacing:-1px;
    background-color: #b7b8c8;
    padding:10px;
    margin-top:50px;
}

/*inside jumbotron*/
h1, p.lead{
    text-align:center;
}



body,
span,
p,
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: Rye, "Helvettica Neue", Helvettica, Arial, cursive;
}

/*create page*/

h2, .alert{
    text-align:center;
}


